
<html>
  <head>
   
   <title>JustLikeYelp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/rating.css">
    
    <link rel='stylesheet' href='styles/tab.css'/>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>	
  <script type="text/javascript">

$(document).ready(function() {
 
    //Default Action
    $(".tab_content").hide(); //Hide all content
    $("ul.tabs li:first").addClass("active").show(); //Activate first tab
    $(".tab_content:first").show(); //Show first tab content
     
    //On Click Event
    $("ul.tabs li").click(function() {
        $("ul.tabs li").removeClass("active"); //Remove any "active" class
        $(this).addClass("active"); //Add "active" class to selected tab
        $(".tab_content").hide(); //Hide all tab content
        var activeTab = $(this).find("a").attr("href"); 
        $(activeTab).fadeIn(); //Fade in the active content
        return false;
    });
 
});
</script>     
    
  </head>
  
  <body>
  <div class="container">
      <div class="jumbotron" style="height:200px;margin-bottom: 5px;width: 1155px;">
	  <div class="col-md-6">
        <h1>JustLikeYelp.com</h1>      
          </div>
	  <div> 
	   <div class="col-md-4">
		<input type="text" class="form-control" id="usr" style="width:100%" placeholder="Search places">
		</div>
		 <div class="col-md-2">
        <a href="#" class="btn btn-info btn-lg">Search</a>
		</div>
		
      </div>
	  <br/>
	 
	

</div>

      <div class="navbar navbar-default" role="navigation" style="margin-left:0px;">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand" href="#">Hello,<%=firstname%></p>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Dashboard</a></li>
              <li><a href="/profile">Profile</a></li>
       
           
            </ul>
            <ul class="nav navbar-nav navbar-right">
            
              <% var strLastLogin=String(lastLogin);
              var res=strLastLogin.substring(4,24);
              console.log(res);
              %>
              <li><p class="navbar-brand">Last Login:<%=res%><p></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>


<!-- <div class="row" style="background-color: #eee;margin-left:0px;">
  <div class="col-md-4">
   Welcome,<%=firstname%>
  
  </div>
  <div class="col-md-4">
  Last Login:<%=lastLogin%>
  </div>
  <div class="col-md-4">
  <a href="/logout">Logout</a>
  </div>
</div> -->
<br/>
  

    


<div class="tabs">
  

<% 
console.log("here also"+categoryname.length);

if (categoryname.length) { %>
  <ul class="tabs">
  
    <%
    for(i=1;i<=categoryname.length;i++)
    {%>
      <li><a href="#tab<%=i%>"><%=categoryname[i-1].categoryname%></a></li>
    <%} %>
  </ul>
<% } %>


  <div class="tab_container">
  <div id="tab1" class="tab_content">
  <table>
  <tr>
  <%
  for(i=0;i<arrCategory1.length;i++){%>
  <td style="padding-right: 15px;"><h2 style="width: 150px;"><%=arrCategory1[i].Name%></h2>
  <p><%=arrCategory1[i].Zipcode%></p>
  <p><%=arrCategory1[i].Contact%></p>
  <a href="/business?bizid=<%=arrCategory1[i].bizid%>">more</a>
  </td>

  <% 
  } 
   %>
  </tr>
  <tr>
  <td>
    <br>
<a href="/addNewBusiness?categoryid=<%=arrCategory1[0].Categoryid%>">Add Business</a>
  </td>
  </tr>
  </table>
</div>
    <div id="tab2" class="tab_content">
      <table>
  <tr>
  <%
  for(i=0;i<arrCategory2.length;i++){%>
  <td style="padding-right: 15px;"><h2 style="width: 150px;"><%=arrCategory2[i].Name%></h2>
  <p><%=arrCategory2[i].Zipcode%></p>
  <p><%=arrCategory2[i].Contact%></p>
 <a href="/business?bizid=<%=arrCategory2[i].bizid%>">more</a>
  </td>
  <% }  %>
  </tr>
  <tr>
  <td>
    <br>
<a href="/addNewBusiness?categoryid=<%=arrCategory2[0].Categoryid%>">Add Business</a>
  </td>
  </tr>
  </table>
    </div>
    <div id="tab3" class="tab_content">
    <table>
  <tr>
  <%
  for(i=0;i<arrCategory3.length;i++){%>
  <td style="padding-right: 15px;"style="padding-right: 15px;"><h2 style="width: 150px;"><%=arrCategory3[i].Name%></h2>
  <p><%=arrCategory3[i].Zipcode%></p>
  <p><%=arrCategory3[i].Contact%></p>
 <a href="/business?bizid=<%=arrCategory3[i].bizid%>">more</a>
  </td>
  <% }  %>
  </tr>
  <tr>
  <td>
    <br>
<a href="/addNewBusiness?categoryid=<%=arrCategory3[0].Categoryid%>">Add Business</a>
  </td>
  </tr>
  </table>
    </div>
    <div id="tab4" class="tab_content">
      <table>
  <tr>
  <%
  for(i=0;i<arrCategory4.length;i++){%>
  <td style="padding-right: 15px;"><h2 style="width: 150px;"><%=arrCategory4[i].Name%></h2>
  <p><%=arrCategory4[i].Zipcode%></p>
  <p><%=arrCategory4[i].Contact%></p>
  <a href="/business?bizid=<%=arrCategory4[i].bizid%>">more</a>
  </td>
  <% }  %>
  </tr>
  <tr>
  <td>
  <br>
<a href="/addNewBusiness?categoryid=<%=arrCategory4[0].Categoryid%>">Add Business</a>
  </td>
  </tr>
  </table>
    </div>
    
  </div>
</div>
<br/>

</div>
  </body>
</html>